<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css">
    <title>Fisher Price</title>
</head>

<body>
    <div class="container">
        <nav>
            <ul>
                <li><a href="/about">Acerca de fisher price</a></li>
                <li><a href="/tienda">Productos</a></li>
                <li><a href="/apps">Aplicaciones</a></li>
            </ul>
            <a id="carrito-icon" href="/checkout"><span class="carrito"></span><img src="/img/car.png" alt=""></a>
        </nav>
        <div class="landing">
            <a href="/tienda"><img class="img-landing" src="/img/logo.png" alt="Fisher Price"></a>
        </div>

        <div class="producto">
            <div class="img-magnifier-container">

                <img id="myimage" src="/img/{{name}}.jpg" width="450" height="400" alt="Juguete">
            </div>
            <div class="info" data-name="{{name}}">
                <div class="title">
                    <h1>{{marca}} - {{name}}</h1>
                    <h4>Edad: {{age}} años</h4>
                </div>
                <div class="precio">

                    <h3>Precio</h3>
                    <h1>$ {{price}}</h1>
                </div>
                <button id="add">Agregar al carrito</button>
            </div>
        </div>
        <div class="carril">
            {{#each imgs}}
            <div class="img-carril">
                <img src="{{this}}"  alt="">
            </div>
            {{/each}}
        </div>
        <div class="carct">
            <h1>Caracteristicas del producto</h1>
            <p>{{carac}}</p>
        </div>

        <div class="piezas">
            <img src="/img/borde2.png" alt="">
            <div class="repuesto">
                <h1>¿Necesitas piezas de repuesto?</h1>
                <h3>las puedes ordenar por nuestra página de servicio al cliente</h3>
            </div>
            <img src="/img/boder1.png" alt="">
        </div>
        <div class="more-info">
            <h1>+ Más información</h1>
        </div>
        <footer>
            <section class="footer__gray">
            <article>
                <section class="footer__left">
                        <ul>
                            <li><a href="">Mattel, Nuestra casa Matriz</a></li>
                            <li><a href="">Empleos</a></li>
                            <li><a href="">Contactanos</a></li>
                            <li><a href="">Retiros del mercado</a></li>
                            <li><a href="">Piezas y Repuestos</a></li>
                        </ul>
                    </section>
                    <section class="footer__right">
                        <ul>
                            <li><a href="">Terminos y condiciones de Fisher - Price</a></li>
                            <li><a href="">Politica de confidencialidad</a></li>
                        </ul>
                    </section>
            </article>
            <p>Pagina inicial de los juguetes Fisher - Price y mas | El uso de este sitio implica que aceptas los terminos y condiciones del miso</p>
        </section>
            <a href="/"><img src="/img/logo.png" alt=""></a>
            <div class="red-border"></div>
        </footer>
    </div>
    <script src="/js/actualizar.js"></script>
    <script src="/js/agregar.js"></script>
    <script src="/animations/magnify.js"></script> 
    <script src="/animations/animacion.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/plugins/CSSPlugin.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TimelineLite.min.js"></script>
    

    <script>
        magnify("myimage",2);
    </script>
    
    
    </body>

</html>